BOT_TOKEN=your_bot_token
DISCORD_URL=http://plural-egress-proxy:8080/api/v10 # ? switch to https://discord.com/api/v10 if you're not using a proxy
REDIS_URL=redis://plural-redis:6379
LOGFIRE_TOKEN=your_logfire_token # optional, https://logfire.pydantic.dev
DOMAIN=your_domain # e.g. plural.gg, must not include protocol or subdomain
DEV=1 # always interpreted as true if not set to 0, set to 0 when running in production