# these are all the environment variables that need to be set, they are NOT loaded from a .env file
BOT_TOKEN=your_bot_token
REDIS_URL=your_redis_url
DOMAIN=your_domain # e.g. plural.gg, must not include protocol or subdomain
DEV=1 # always interpreted as true if not set to 0, set to 0 when running in production